
* {
    margin: 0;
    padding: 0;
    display: border-box;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
}

body {
    background-color: #eee;
}

.container{
    display: grid;
    grid-template-rows:auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto;
    
}

.d1{display: block;
    grid-row-start: 1;
    grid-row-end:2 ;
    grid-column-start:1 ;
    grid-column-end: 7; 
    height: 100px;
    gap: 30px;
    margin: 30px;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    background-color: rgba(240, 220, 105, 0.29);
    color: #2e4a5b;  
}

.d2{
    display: block;
    grid-row-start:2 ;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #2e4a5b;
    height: 700px;
    width: auto;
    gap: 30px;
    margin: 30px;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    color: #eee;
 
}

.d3{
    display: block;
    grid-row-start: 2;
    grid-row-end:3 ;
    grid-column-start: 4;
    grid-column-end: 7;
    background-color: #2e4a5b;
    height: 700px;
    gap: 30px;
    margin: 30px;
    padding: 10px;
    font-size: 50px;
    background-image: url('../images/Inside.jpg');
    background-size: 810px 720px;
}
    



.d4{
    display: block;
    grid-row-start:3 ;
    grid-row-end: 4;
    grid-column-start:1 ;
    grid-column-end:2 ;
    background-color: #2e4a5b;
    width:500px ;
    height: 500px;
    gap: 30px;
    margin: 30px;
    padding: 10px;
    font-size: 40px;
    color: rgba(240, 220, 105, 0.29);
    

}

.d5{
    display: block;
    grid-row-start:3;
    grid-row-end:4 ;
    grid-column-start:3 ;
    grid-column-end: 5;
    background-color: #2e4a5b;
    width:500px ;
    height: 500px;
    gap: 30px;
    margin: 30px;
    padding: 10px;
    font-size: 40px;
    color: rgba(240, 220, 105, 0.29);

}

.d6{
    display: block;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end:  7; 
    background-color: #2e4a5b;
    width:500px ;
    height: 500px;
    gap: 30px;
    margin: 30px;
    padding: 10px;
    font-size: 40px;
    color: rgba(240, 220, 105, 0.29);

}

.d7{
    display: inline-block;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end:  7;
    background-color: rgba(240, 220, 105, 0.29);
    gap: 30px;
    margin: 30px;
    padding: 10px;
    font-size: 15px;
    color: #2e4a5b;
 
}

.div01{
    display: block;
    background-color: rgba(240, 220, 105, 0.29);
    margin-top: 200px;
    padding: 10px;
    width: auto;
    height: 100px;
    font-size: 50px;
    color: #2e4a5b;
    
}

.div02{
    display: block;
    background-color: rgba(240, 220, 105, 0.29);
    margin-top: 30px;
    padding: 10px;
    width: auto;
    height: 100px;
    font-size: 50px;
    color: #2e4a5b;
}

.div03{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 50px;
    font-size: 45px;
    background-image: url('../images/instagram\ logo.jpg');
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-color: rgb(246, 242, 198);
    
}

.div04{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 50px;
    font-size: 40px;
    background-image:url('../images/Facebook\ logo.png') ;
    background-repeat: no-repeat;
    background-size: 70px 70px;

}

.div05{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 50px;
    font-size: 40px;
    background-image:url('../images/X\ logo.jpg') ;
    background-repeat: no-repeat;
    background-size: 70px 70px;

}

.logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 1500px;
    margin-top: auto;
    margin-bottom: auto;
    background-image:url('../images/logo.jpg') ;
    background-repeat: no-repeat;
    background-size: 80px 80px;

}

@media screen and (max-width: 800px) {
    
    
    body {
        background-color: #eee;
    
    }
    .container{
    
    }
    
    .d1{display: block;
        height: 100px;
        gap: 30px;
        margin: 30px;
        padding: 10px;
        font-size: 50px;
        text-align: center;
        background-color: rgba(240, 220, 105, 0.29); 
        color: #2e4a5b;  
    }
    
    .d2{
        display: block;
        background-color: #2e4a5b;
        height: 700px;
        width: auto;
        gap: 30px;
        margin: 30px;
        padding: 10px;
        font-size: 50px;
        text-align: center;
    
     
    }
    
    .d3{
        display: block;
        background-color: #2e4a5b;
        height: 700px;
        gap: 30px;
        margin: 30px;
        padding: 10px;
        font-size: 50px;
        background-image: url('../images/Inside.jpg');
        background-size: 810px 720px;
    
        
        
    
    }
        
    
    
    
    .d4{
        display: block;
        background-color: #2e4a5b;
        width:500px ;
        height: 500px;
        gap: 30px;
        margin: 30px;
        padding: 10px;
        font-size: 40px;
        
        
    
    }
    
    .d5{
        display: block;
        background-color: #2e4a5b;
        width:500px ;
        height: 500px;
        gap: 30px;
        margin: 30px;
        padding: 10px;
        font-size: 40px;
        
    
    }
    
    .d6{
        display: block;
        background-color: #2e4a5b;
        width:500px ;
        height: 500px;
        gap: 30px;
        margin: 30px;
        padding: 10px;
        font-size: 40px;
        
    
    }
    
    .d7{
        display: inline-block;
        background-color: rgba(240, 220, 105, 0.29);
        gap: 30px;
        margin: 30px;
        padding: 10px;
        font-size: 15px;
        color: #2e4a5b;
     
    }
    
    .div01{
        display: block;
        background-color: rgba(240, 220, 105, 0.29);
        margin-top: 200px;
        padding: 10px;
        width: auto;
        height: 100px;
        font-size: 50px;
        
    }
    
    .div02{
        display: block;
        background-color: rgba(240, 220, 105, 0.29);
        margin-top: 30px;
        padding: 10px;
        width: auto;
        height: 100px;
        font-size: 50px;
        
    }
    
    .div03{
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 50px;
        font-size: 45px;
        background-image: url('../images/instagram\ logo.jpg');
        background-repeat: no-repeat;
        background-size: 70px 70px;
        background-color: rgb(246, 242, 198);
        
    }
    
    .div04{
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 50px;
        font-size: 40px;
        background-image:url('../images/Facebook\ logo.png logo.png') ;
        background-repeat: no-repeat;
        background-size: 70px 70px;
    
    }
    
    .div05{
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 50px;
        font-size: 40px;
        background-image:url('../images/X\ logo.jpg logo.jpg') ;
        background-repeat: no-repeat;
        background-size: 70px 70px;
    
    }
    
    .logo{
        display: inline-block;
        width: 80px;
        height: 80px;
        margin-left: 20px;
        margin-top: auto;
        margin-bottom: auto;
        background-image:url('../images/logo.jpg') ;
        background-repeat: no-repeat;
        background-size: 80px 80px;
    
    }
    

}

